
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
header{
    background-color: orange;
    
}

.container-header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.debug{
    border: 1px solid black;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
img{
    width: 10%;
}
